.header{
    position: relative;
}
.header__nav{
    background-color: #282a35;
    overflow: hidden;
    position: fixed;
    right: 0;
    border-end-start-radius: 10px;
    z-index: 999;
}
.header__nav a{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    float: left;
    padding: 17px 15px;
    text-align: center;
    transition: 0.5s;
}
.header__nav a:hover{
    background-color: #555;
    text-decoration: underline;
}