@import url("default.css");
@import url("particles.css");

.container{
    position: relative;
    z-index: 1;
}
.main-theme {
    background-color: #04aa6d;
    height: 100vh;
    text-shadow: 2px 1px 1px #000;
    /* background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../img/tree_background.webp') 0 0/cover no-repeat; */
    padding: 20rem 0px 0px 0px;
    margin: auto;
}
.big-heading{
    position: relative;
    font-family: "Open Sans";
    font-weight: 700;
    color: #fff;
    font-size: 7.4rem;
    line-height: 1.2;
    text-align: center;
    z-index: 1;
}
.introduction{
    width: 60vw;
    margin: 100px auto;
}
.explanation{
    padding: 0 0 0 40px;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: auto;
    height: 150px;
    border-radius: 25px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.165);
}
.explanation__header{
    margin: 0px 0px 10px 0px;
}
.explanation__text{
    color: #008846;
}
.introduction__header{
    margin: 0 0 20px 0;
}
.introduction__text{
    margin: 0 0 100px;
}
.advantages{
    margin: 120px 0 0;
}
.advantages__text{
    margin: 20px 0;
}
.advantages__link{
    display: inline-block;
    background-color: #04aa6d;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 180px;
    border-radius: 10px;
    height: 40px;
    transition: background-color .1s linear;
}
.advantages__link:hover{
    background-color: #0cca84;
}