<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Виды Деятельности</title>
        <link rel="stylesheet" href="./article.css">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <!-- header -->
        <header class="header">
            <nav class="header__nav">
                <a href="index.html">На главную</a>
                <a href="roadmap.html">Карта</a>
                <a href="about.html">О проекте</a>
                <a target="_blank" href="https://refold.la/">Официальный сайт</a>
            </nav>
        </header>
        <!-- header -->

        <div class="container">
            <div class="article">
                <h1 class="article__header">0A: Виды Деятельности</h1>
                <p class="article__paragraph">Метод Refold построен на трёх основных видах деятельности:</p>
    <p class="article__paragraph indent">1. <span class="italic">Активное погружение</span>: Когда вы полностью сфокусированы на своём погружении в языковую   среду.</p>
    <p class="article__paragraph indent"><span class="italic">2. Пассивное слушание</span>: Когда вы слушаете медиа на иностранном языке в течение дня.</p>
    <p class="article__paragraph indent">3. <span class="italic">Активное изучение</span>: Когда вы учите слова и грамматику.</p>

    <p class="article__paragraph">Каждый вид деятельности имеет важную роль в процессе овладения языка.</p>

    <h2>Активное Погружение</h2>
    <p class="article__paragraph">Активное погружение - это когда вы полностью сфокусированы на контенте на вашем изучаемом языке (далее ЦЯ - целевой язык), будь то просмотр телевизионных программ, чтение книг или прослушивание подкастов.</p>
    <p class="article__paragraph">Активное погружение - это самый важный вид деятельности в процессе овладения языком. Именно во время активного погружения происходит овладение языком. Когда вы полностью сконцентрированы на контенте, ваш мозг трудится, пытаясь расшифровать язык.</p>
    <p class="article__paragraph">
        Существует два вида активного погружения: интенсивное и свободное погружение.
        </p>
    
    <h3>Интенсивное Погружение</h3>
    <p class="article__paragraph">Интенсивное погружение - это когда вы используете словарь, пытаясь понять контент погружения. По мере погружения, вы смотрите определение или перевод каждого неизвестного слова и пытаетесь понять значение каждого предложения. Этот процесс замечателен для изучения слов и построения понимания языка.
    </p>
    <p class="article__paragraph">Единственная проблема такого вида погружения заключается в огромном количестве затраченных сил. Если вы чувствуете, что становится очень тяжело, лучшим вариантом будет переключиться на свободное погружение, чтобы избежать перегорания.
    </p>

    <h3>Свободное Погружение</h3>
    <p class="article__paragraph">Свободное погружение, это когда вы концентрируете всё внимание на контенте, но вы не прерываете погружение, заглядывая в словарь. Целью является достижение состояния "флоу" - состояния, в котором вы полностью вовлечены в процесс деятельности. Вы всё равно можете заглядывать в словарь если слово беспокоит вас, но не стоит делать так слишком часто.
    </p>
    <p class="article__paragraph">Свободное погружение помогает развить понимание и сделать процесс опознования слов менее трудоёмким.
    </p>
    <p class="article__paragraph">Трудностью является то, что во время свободного погружения вы будете понимать значительно меньше чем во время интенсивного. Для взрослых, отсутсвия понимания может быть неприятным, но это важная часть процесса изучения языка. Нельзя избежать стадии непонимания. Принять дискомфорт будет лучшим решением.
    </p>

    <h3>Баланс</h3>
    <p class="article__paragraph">Некоторые люди предпочитают интенсивное погружение, тогда как другие предпочитают свободное. Однако оба вида важны для процесса овладения языком. Вам следует больше заниматься тем, который вам нравится, но удостоверьтесь что вы делаете и то и другое.
    </p>
    <p class="article__paragraph">Интенсивное погружение имеет склонность быть более утомительным чем свободное, поэтому лучше сперва заняться им, когда у вас ещё есть силы.
    </p>

    <h2>Пассивное Слушание</h2>
    <p class="article__paragraph">Большинство людей не могут проводить весь день активно смотря ТВ или читая. Однако большинство из нас могут слушать ЦЯ в течение дня.
    </p>
    <p class="article__paragraph">Пассивное слушание происходит, когда вы частично обращаете внимание на аудио. Вы можете применять пассивное слушание в машине по дороге на работу, или в кухне во время готовки. Вождение и домашние дела не требуют много интеллектуального труда, поэтому вы можете слушать ЦЯ во время их выполнения.
    </p>
    <p class="article__paragraph">Пассивное слушание является хорошим способом увеличения времени погружения. Это не так эффективно как активное погружение, но всё-таки очень помогает.
    </p>
    <p class="article__paragraph">Не всё пассивное слушание равносильно. Чем больше внимания вы концентрируете на прослушиваемом материале, тем больше выгоды вы получите. Поэтому нужно выбирать интересный материал для прослушивания - так намного легче остаться вовлечённым в прослушивание.
    </p>
    <p class="article__paragraph">Один из способов сделать пассивное слушание более интересным - это снова слушать контент, который вы уже смотрели во время активного погружения. Так как вы уже знаете события, происходящие в таком контенте, он будет более понимаемым и интересным. Прослушивание снова также даёт вашему мозгу ещё один шанс усвоить то, что вы пропустили при первом просмотре.
    </p>

    <h2>Активное Изучение</h2>
    <p class="article__paragraph">Refold является погружение-направленным методом, но это не значит что мы рекомендуем только погружение. Во время активного изучения вы проводите время, изучая информацию *о* вашем ЦЯ, чтобы сделать погружение более вразумительным.
    </p>
    <p class="article__paragraph">Овладение языком случается когда вы понимаете значение предложений во время погружения. Активное изучение языка даёт вашему мозгу дополнительную информацию, которую он может использовать для дешифровки значения этих предложений.
    </p>
    <p class="article__paragraph">Существует четыре части каждого языка, которые вы можете изучать:</p>
    <p class="article__paragraph indent">1. Фонетика</p>
    <p class="article__paragraph indent">2. Письменность</p>
    <p class="article__paragraph indent">3. Слованый запас</p>
    <p class="article__paragraph indent">4. Грамматика</p>
    <p class="article__paragraph">Большинство языков требуют меньше недели чтобы изучить систему письма и фонетическую систему, но учить слова и грамматику придётся по всему пути овладения языком.
    </p>
    <p class="article__paragraph">На первом этапе мы объясним как следует начать работу со всеми четырьмя элементами активного изучения языка.
    </p>
    <p class="article__paragraph"></p>
            </div>
            <a href="whats_immersion.html" class="previous-article"><span>Назад</span></a>
            <a href="whats_my_level.html" class="next-article"><span>Вперёд</span></a>
        </div>

        <!-- footer -->
        <footer class="footer">
            <a target="_blank" href="https://refold.la/" class="footer__link">Не забудьте заглянуть на официальный сайт :)</a>
            <img class="footer__logo-l" src="../img/icons/symbol-contrast.svg" alt="origami crane">
            <img class="footer__logo-r" src="../img/icons/symbol-contrast.svg" alt="origami crane">
        </footer>
        <!-- footer -->
    </body>
</html>
