<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Погружение в язык</title>
    <link rel="stylesheet" href="{{css_dest}}">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>

<body>
    <!-- header -->
    {% extends "flask_extensions.html" %}
    <!-- header -->

    {% block content %}

    <div class="container">
        <div class="article">
            <h1 class="article__header">0A: Что такое изучение языка через погружение?</h1>
            <p class="article__paragraph">Большинство преподавателей иностранных языков говорят вам запоминать слова и
                грамматику, чтобы затем строить с их помощью предложения. Этот подход изучения называется "развитие
                умений".</p>
            <p class="article__paragraph">Развитие умений - это правильный выбор если вам нужно заговорить на языке
                быстро. Если вы планируете скоро отправиться в другую страну и нужно уметь говорить, мы рекомендуем
                использовать курсы Бенни Левиса <a href="https://languagehacking.com/books/"
                    class="article__link">Language Hacking</a>. Бенни Левис - мастер подхода развития умений.</p>
            <p class="article__paragraph">Однако этот подход не работает когда речь идёт о умении говорить бегло. Когда
                кто-либо говорит бегло на языке, у него нету времени для того чтобы задумываться о падежах
                существительных и построении предложений. Этот человек нуждается в правильных словах, которые сразу
                появляются в голове.</p>
            <p class="article__paragraph">Беглость требует языковой инстинкт; такой же инстинкт который вы имеете с
                вашим родным языком. Вы скорее всего не знаете грамматических правил вашего родного языка. Вы просто
                говорить и слова выходят изо рта сами. Такой инстинкт является результатом "овладения" языком. Когда вы
                овладеваете языком, вы становитесь способны говорить на языке не задумываясь.</p>
            <p class="article__paragraph">Погружение это инструмент для овладения языком. Погружение просто означает
                ваше взаимодействие с языком во время просмотра ТВ, чтения книг и провождения времени в интернете.</p>


            <h2>Как Работает Овладение Языком?</h2>
            <p class="article__paragraph">Мы все овладеваем языками одним способом: понимая сообщения – Стивен Крашен
            </p>
            <p class="article__paragraph">
                Изучение определения слова - это всего лишь первый шаг процесса овладения им. Чтобы развить инстинкт к
                применению слова, вы должны увидеть и понять его сотни раз в сонтях разных случаев.
            </p>
            <p class="article__paragraph">
                Через погружение, вы подвергаете себя этим случаям. Каждый раз, когда вы видите слово и понимаете его,
                вы вырабатываете свой инстинкт. В конце концов, ваш инстинкт разовьётся до такой степени, что вы будете
                интуитивно знать как использовать слово.
            </p>

            <h2>
                Время и Усилия
            </h2>

            <p class="article__paragraph">
                Овладение языком требует много времени, но оно не обязано быть похожим на труд. Для того чтобы сохранить
                мотивацию вам нужно сделать процесс погружения весёлым.
            </p>

            <p class="article__paragraph">
                Вы можете смотреть телевизионные программы, видео из YouTube и TikTok. Вы можете читать твиты, блоги или
                книги. Любое медиа которое вы потребляте на вашем РЯ, вы можете потреблять на вашем изучаемом языке
                (ЦЯ).
            </p>

            <p class="article__paragraph">
                Средний россиянин проводит в интернете <a class="article__link"
                    href="https://www.web-canape.ru/business/vsya-statistika-interneta-na-2019-god-v-mire-i-v-rossii/"
                    lbb="3" fo="1">6 часов 49 минут</a> в день. Чем больше медиа вы интегрируете в свой ЦЯ, тем быстрее
                вы научитесь бегло говорить на языке.
            </p>

            <p class="article__paragraph">
                Фактическое время, затрачиваемое на обретение беглости речи в языке варьируется, в зависимости от
                изучаемого языка и многих других личных факторов, но самая важная часть метода - это проводить много
                времени с языком. Если вы постоянно проводите время с вашим ЦЯ каждый день, то в конце концов вы
                овладеете им.
            </p>
        </div>
        <!-- <a href="#" class="previous-article"><span>Назад</span></a> -->
        <a href="/roadmap/stage-0/a/activities_explained" class="next-article"><span>Вперёд</span></a>

    </div>

    {% endblock %}

</body>

</html>