<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Мой Уровень</title>
        <link rel="stylesheet" href="{{css_dest}}">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    
    <body>
    <!-- header -->
    {% extends "flask_extensions.html" %}
    <!-- header -->
    
    {% block content %}
    
        <div class="container">
            <div class="article">
                <h1 class="article__header">0A: Каков мой уровень владения языком?</h1>
                <p class="article__paragraph">В гайде Refold четыре этапа:</p>
                <p class="article__paragraph indent">1. Выучите основы</p>
                <p class="article__paragraph indent">2. Научитесь понимать</p>
                <p class="article__paragraph indent">3. Научитесь говорить</p>
                <p class="article__paragraph indent">4. Развивайте вашу способность</p>
                <p class="article__paragraph">Каждый этап разбит на подэтапы. Каждый подэтап имеет разные цели, стратегии и советы, чтобы помочь вам сфокусироваться на самых важных вещах в процессе изучения. Мы предоставляем способы протестировать себя на каждом подэтапе чтобы помочь вам определить вашу готовность к следующему подэтапу.</p>
                
                <h2>Этап 1: Начало</h2>
                <p class="article__paragraph">На первом этапе вы изучите основы своего целевого языка (ЦЯ), а также определитесь с конкретными методами его изучения путём прямого погружения. Вы будете сконцентрированы на построении привычек, которые помогут изучать язык, на изучении письма и фонетической системы языка, а также базовую грамматику и слова.
                </p>
                <h2>Этап 2: Научитесь Понимать</h2>
                <p class="article__paragraph">На 2-ом этапе вы будете увеличивать свое понимание, пока вы не будете полностью понимать один из «жанров» контента на изучаемом языке. 2-ой этап разбит на три подэтапа:
                </p>

                <h3>2A: Понимание Простого Контента</h3>
                <p class="article__paragraph">На 2A этапе, вы будете сфокусированы на простом контенте, таком как детские ТВ передачи. Детские передачи помогают освоить часто используемые слова и грамматику, которые вы начали учить на 1-ом этапе. Когда вы будете способны понимать сюжет простого контента, вы перейдёте на этап 2B.
                </p>

                <h3>2B: Следуйте За Своими Интересами</h3>
                <p class="article__paragraph">На 2B этапе вы будете иметь достаточно прочное основание чтобы начать следовать за своими интересами. К примеру, если вы интересуетесь модой, то вы можете начать смотреть влогеров по моде на YouTube, которые говорят на вашем ИЯ.
                </p>
                <p class="article__paragraph">По мере следования за своими интересами, ваше понимание начнёт расти, пока вы не будете способны понимать основную суть в вашем погружении. Вы начнёте получать удовольствие от просмотра контента, в который вы погружаетесь. На этой стадии вы можете переходить на этап 2C.
                </p>

                <h3>2C: Сосредоточьтесь на чём-то одном</h3>
                <p class="article__paragraph">По достижении этапа 2C, вы уже можете наслаждаться просматриемым конентом, но у вас ещё есть пробелы в знаниях. Чтобы быстро заполнить пробелы, вы будете концентрироваться на одном жанре (сфере) контента носителей, пока вы не станете полностью понимать всё в этой сфере.
                </p>
                <p class="article__paragraph">Контент носителей - это контент, который был изначально создан на вашем ИЯ для носителей этого языка. Такой контент не включает в себя переводы и контент для изучающих языки.
                </p>
                <p class="article__paragraph">Вы можете выбрать любую сферу по своему вкусу (например научная фантастика, мода, готовка), однако мы советуем фокусироваться на "слайс-оф-лайф" шоу (slice-of-life: ломтик жизни), так как ситуации этого жанра распростанены в ежедневной жизни.
                </p>

                <h2>Этап 3: Научитесь говорить</h2>
                <p class="article__paragraph">3-ий этап фокусируется на преобразовании вашего понимая в умение говорить. Этап 3 разбит на 3 подэтапа:
                </p>

                <h3>3A: Понимание Ежедневных Разговоров</h3>
                <p class="article__paragraph">Стиль языка, используемого в повседневной жизни, немного отличается от того, который вы освоили на 2-ом этапе, поэтому первый шаг - это развить понимание в этой новой сфере. Как только вы начнёте понимать ежедневные разговоры, вам будет легко освоить письмо и говорение.</p>

                <h3>3B: Тренировка Письма и Произношения</h3>
                <p class="article__paragraph">На 3B этапе вы будете практиковать письмо и произношение как разные умения. Для тренировки произношения, вы должны будете выбрать "языкового родителя" и копировать их манеру речи, чтобы вы звучали по-носительски.
                </p>
                <p class="article__paragraph">Стримеры Twitch, подкастеры, и ютуберы - отличные опции для языкового родителя.
                </p>

                <h3>3C: Начните Говорить</h3>
                <p class="article__paragraph">На 3C этапе вы объедините ваши умения письма и произношения и начнёте говорить. К концу 3-его этапа, вы будете иметь базовую беглость на вашем ИЯ.
                </p>
                <p class="article__paragraph">Базовая беглость означает, что вы полностью дееспособны на вашем ИЯ. Вы можете говорить о ежедневной жизни и о любых других сферах, которые вы подобрали к освоению. И что даже лучше: вы не будете переводить с вашего РЯ. Ваши мысли будут сразу идти в ваш ИЯ и вы будете способны говорить естественно и без трудностей.
                </p>

                <h2>Этап 4: Развивайте Вашу Способность</h2>
                <p class="article__paragraph">Когда вы достигнете базовой беглости, перед вами будет стоять выбор о продолжении вашего языкового путешествия, или о его завершинии. Вы можете и дальше развивать понимания, погружаясь в язык и новые сферы, такие как биология, бизнес или политика. Вы также можете оттачивать свою беглость и сконцентрироваться на развитии манеры речи и произношения как у носителей.
                </p>
                <p class="article__paragraph">На 4-ом этапе мы объясним разные подходы к оттачиванию вашего языкового умения.
                </p>

                <h2>С чего мне начать?</h2>
                <p class="article__paragraph">Многие люди, изучающие язык, уже имеют некоторый опыт в изучении своего целевого языка и не нуждаются в начальных стадиях гайда. Независимо от того, каким уровнем вы обладаете, мы рекомендуем прочесть гайд целиком - во избежании пропуска важной информации.
                </p>
                <p class="article__paragraph">После прочтения гайда, используете следующий тест чтобы узнать свой уровень и этап для начинания:
                </p>
                <p class="article__paragraph">1. <span class="italic">Знакомы ли вы с письменностью языка? Знаете ли вы 1000 слов?</span></p>
                <p class="article__paragraph indent"><span class="bold">Если нет, переходите 1-ый этап. Если вы ответили на оба вопроса да, переходите на этап 2A.</span></p>
                <p class="article__paragraph"><span class="italic">2. Можете ли вы распознать большинство слов в телевизионных программах для детей (7+ лет), когда смотрите их с субтитрами на ЦЯ?</span></p>
                <p class="article__paragraph indent"><span class="bold">Если да, переходите на этап 2B.</span></p>
                <p class="article__paragraph"><span class="italic">3. Можете ли вы следовать за сюжетом телевизионных программ для взрослых (16+ лет), когда смотрите их с субтитрами на ЦЯ?</span></p>
                <p class="article__paragraph indent"><span class="bold">Если да, переходите на этап 2C.</span></p>
                <p class="article__paragraph"><span class="italic">4. Имеете ли вы практически идеальное понимание телевизионных программ для взрослых (16+) без каких-либо субтитров?</span></p>
                <p class="article__paragraph indent"><span class="bold">Если да, переходите на этап 3A.</span></p>
                <p class="article__paragraph"><span class="italic">5. Владеете ли вы беглостью на вашем ИЯ, но хотите продолжить оттачивать свою беглость?</span></p>
                <p class="article__paragraph indent"><span class="bold">Если да, переходите на этап 4.</span>
                </p>
                <p class="article__paragraph">Важно быть честным с собой, отвечая на эти вопросы. Лучше недооценить свои способности, чем переоценить их. Если вы не уверены где начать, попробуйте начать с этапа 1A. Вы всегда можете продвинуться вперёд, если чувстуете что справитесь.
                </p>
                <p class="article__paragraph"></p>
                <p class="article__paragraph"></p>

            </div>
            <a href="/roadmap/stage-0/a/activities_explained" class="previous-article"><span>Назад</span></a>
            <a href="/roadmap/stage-1/a/immersion" class="next-article"><span>Вперёд</span></a>
        </div>


        {% endblock %}
    </body>
</html>
