<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Виды Деятельности</title>
        <link rel="stylesheet" href="{{css_dest}}">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
    <!-- header -->
    {% extends "flask_extensions.html" %}
    <!-- header -->

    {% block content %}

    
    <div class="container">
            <div class="article">
                <h1 class="article__header">1A: Погружение</h1>
                <p class="article_paragraph">Погружение - это основа овладения языком. Во время погружение, вы встречаете каждое слово, фразу, и грамматическую структуру во многих разных ситуациях, пока вы не понимаете их нюансы интуитивно.</p>
                <p class="article_paragraph">Количество времени, проведённое в состоянии погружения - наиважнейший фактор, указывающий на скорость, с которой вы овладеете вашим целевым языком (ЦЯ). Важно начать погружение с самого первого дня, чтобы с самого старта вы накапливали часы погружения. Даже если вы ничего не понимаете, ваш мозг трудится чтобы декодировать изучаемый язык.
                </p>

                <h2>Преодоление Неоднозначности</h2>
                <p class="article_paragraph">Изучающие язык в первый раз часто попадаются в ловушку - они думают, что "не готовы" к погружению. Погружение в контент, который вы не понимаете приносит дискомфорт. Изучающие язык пытаются избежать этого дискомфорта, откладывая погружение и сосредотачиваясь исключительно на активном изучении.</p>
                <p class="article_paragraph italic">Такой подход не работает и никогда не сможет заработать.</p>
                <p class="article_paragraph">Не важно, сколько вы готовитесь и учитесь, когда вы вступите в первый "контакт" с реальным языком, вы не будете понимать его.
                </p>
                <p class="article_paragraph">Вместо избегания дискомфорта вызванного непониманием, мы настоятельно рекомендуем нырнуть в язык и научиться переносить неоднозначность. Чем лучше вы становитесь в преодолении дискомфорта, тем больше вы будете наслаждаться погружением и тем быстрее вам мозг впитает язык.
                </p>

                <h2>Уменьшение неоднозначности</h2>
                <p class="article_paragraph">Когда вы начнёте, нарастить терпимость к неоднозначности может быть трудно. Если вы считаете, что это слишком сложно, вот вам несколько стратегий, используя которые вы будете чувствовать себя более комфортно.
</p>

                <h3>Проспойлерите сюжет</h3>
                <p class="article_paragraph">Один из способов уменьшить неоднозначность - прочитать краткое содержание ТВ шоу или фильма перед просмотром. Другая опция - пересмотреть ТВ шоу или фильм, который вы уже смотрели на вашем родном языке (РЯ). Оба подхода позволяют вам понимать историю без необходимости понимать слова.
                </p>
                <h3>Субтитры На Родном Языке</h3>
                <p class="article_paragraph">Мы обычно не рекомендуем использовать субтитры РЯ при просмотре контента. Делая так, вы не сможете научиться многому.
                </p>
                <p class="article_paragraph">Однако если вы чувствуете себя потерянным, то использование субтитров РЯ, чтобы быть вовлечённым в контент, допускается.
                </p>
                <p class="article_paragraph">Как упражнение, попробуйте смотреть контент без субтитров, пока вы можете, перед тем как включать их. Другая опция - смотреть часть контента без субтитров РЯ, а затем посмотреть её снова, но уже с ними.
                </p>
                <p class="article_paragraph">К тому времени, как вы достигните этапа 2A, вы не должны будете смотреть контент с субтитрами или переводами на РЯ.
                </p>
                
                <h2>Продолжительность Погружения</h2>
                <p class="article_paragraph">Погружение в новый язык очень утомляет. Вы будете уставать очень быстро. Вы даже можете получить головные боли, пока ваш мозг приспосабливается к новому языку.
                </p>
                <p class="article_paragraph">Обязательно берите частые перерывы для подзарядки. Со временем ваша "выносливость" будет расти, пока вы не будете способны погружаться в язык на несколько часов подряд.
                </p>

                <h2>Поиск контента</h2>
                <p class="article_paragraph">На протяжениии вашего лингвистического путешествия вы будете тратить тысячи часов погружения в ваш ЦЯ, поэтому важно найти интересный вам контент. Чем больше вам нравится контент, тем больше вы будете погружаться в язык, и тем быстрее вы будете его усваивать.
                </p>
                <p class="article_paragraph">Чтобы максимизировать время, проведённое с языком, пользуйтесь медиа как можно больше на вашем ЦЯ. Это включает в себя ТВ шоу, фильмы, ютуб и блоги. Вам будет нужно исследовать доступный контент на вашем ЦЯ, и выяснить, что для вас наиболее интересно.
                </p>

                <h3>Сделайте Новые Аккаунты</h3>
                <p class="article_paragraph">Один из отличный способов исследования контента ЦЯ заключается в создании аккаунта на ЦЯ для всех ваших социальных сетей и видео стриминговых сервисов. Имея отдельный аккаунт, посвящённый контенту ЦЯ, вы можете использовать алгоритмом рекомендаций, чтобы найти новый и интересный контент. Мы советуем создать акканты ЦЯ для YouTube, Netflix, TikTok.
                </p>
                <p class="article_paragraph">Чтобы помочь вам распространить ваши рекомендации контента ЦЯ, Refold собрал списки каналов и контента для каждого языка на YouTube, Netflix и других сайтах. Вы можете получить доступ к ним через наше <a class="article__link" href="https://refold.la/join">сообщество</a>.
                </p>
                <h3>Netflix</h3>
                <p class="article_paragraph">Netflix является отличным местом для поиска контента ЦЯ. Netflix предлагает разный контент в разных странах. С помощью <a class="article__link" href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=54960&url_id=902">VPN</a>, вы можете обмануть Netflix - он будет думать, что вы находитесь в другой стране, и вы получите доступ к контенту этого языка.
                </p>
                <p class="article_paragraph">Мы советуем пользоваться <a href="https://unogs.com/" class="article__link">неофицальным поисковиком контента Netflix</a>. Так, вам будет легче искать контент Netflix на вашем ЦЯ, а также вы сможете узнать на какую страну вам нужно установить VPN-соединение, для просмотра этого контента.
                </p>
                <p class="article_paragraph">Вы можете найти детальный гайд по созданию аккаунта на ЦЯ для Netflix <a href="https://www.lindsaydoeslanguages.com/the-ultimate-guide-to-netflix-for-language-learning/" class="article__link">здесь</a>.
                </p>
                <h3>Стриминговые Сервисы</h3>
                <p class="article_paragraph">Netflix и YouTube - отличные места для поиска контента ЦЯ. Но не ограничивайтесь только теми сайтами, которые вы знаете. Каждая страна имеет различные стриминговые сервисы. Загуглите стриминговые сервисы, часто используемые носителями вашего ЦЯ.
                </p>
                <h3>Коллекция Контента Refold</h3>
                <p class="article_paragraph">Наше сообщество собрало огромное количество контента, который идеален для новичков. Не забудьте присоединиться к офицальному каналу <a href="https://refold.la/join" class="article__link">Refold Discord</a>, чтобы получить доступ к тысячам рекомендация контента на 45+ языках.
                </p>

                <h2>Контент для Пассивного Прослушивания</h2>
                <p class="article_paragraph">Как описано в <a href="/roadmap/stage-0/a/activities_explained" class="article__link">Этапе 0: Виды деятельности</a>, пассивное слушание - хороший способ увеличить время погружения, когда вы на ходу.
                </p>
                <p class="article_paragraph">
                    Подкасты и аудиокниги являются самым простым способом начать пассивное слушание, но они будут очень трудными для начинающих изучать язык. Чем тяжелее контент, тем сложнее оставаться заинтересованным в нём. Вы можете сделать пассивное слушание более увлекательным и понятным прослушивая аудио из ТВ шоу или YouTube видео, которые вы уже активно посмотрели.
                    </p>
                <p class="article_paragraph">Чтобы сделать пассивное слушание привычкой в вашей жизни, важно сделать это лёгким. Наилегчайший способ начать пассивно слушать - включить Netflix или YouTube на вашем телефоне и просто слушать. Если вы технически продвинутые, вы можете скачивать аудио на телефон или отдельный аудиоплеер.
                </p>
                <p class="article_paragraph">Для более подробного гайда по подготовке к пассивному слушанию, прочитайте [эту статью][passive-listening-detailed].
                </p>
                
</div>
            <a href="/roadmap/stage-0/a/whats_my_level" class="previous-article"><span>Назад</span></a>
            <a href="/roadmap/stage-1/a/language_basics" class="next-article"><span>Вперёд</span></a>
        </div>
        
    {% endblock %}
    </body>
</html>
