<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Основы языка</title>
    <link rel="stylesheet" href="{{css_dest}}">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>

<body>
    <!-- header -->
    {% extends "flask_extensions.html" %}
    <!-- header -->

    {% block content %}


    <div class="container">
        <div class="article">
            <h1 class="article__header">Основы языка</h1>
            <p class="article__paragraph">Цель Этапа 1 - создать основу понимания, так чтобы вы могли учиться прямиком
                из контента целевого языка (ИЯ) на Этапе 2.
            </p>
            <p class="article__paragraph">Как описано в <a href="/roadmap/stage-0/a/activities_explained"
                    class="article__link">Этап 0: Виды Деятельности</a>, активное изучение помогает построить фундамент
                намного быстрее, чем используя лишь погружение.
            </p>
            <p class="article__paragraph">Активное изучение состоит из 4 частей:
            </p>
            <p class="article__paragraph indent">1. Фонетика</p>
            <p class="article__paragraph indent">2. Письменность</p>
            <p class="article__paragraph indent">3. Словарный запас</p>
            <p class="article__paragraph indent">4. Базовая грамматика</p>

            <h2>Фонетика</h2>
            <p class="article__paragraph">Каждый язык имеет уникальный набор звуков, отличающихся от других языков. В
                вашем ИЯ есть звуки, которые не присущи вашему родному языку (РЯ).
            </p>
            <p class="article__paragraph">Когда вы начитаете учить язык, вы не сможете распознать многие из этих звуков.
                Ваш мозг буквально не может воспринимать их, и вы будете слышать их отлично от того, как они звучат на
                самом деле.
            </p>
            <p class="article__paragraph">Способность распозновать эти звуки приходит с сотнями часов практики слушания.
                Вы можете ускорить этот процесс, изучив фонетику вашего ИЯ.
            </p>
            <p class="article__paragraph">Чтобы выучить фонетику вашего ИЯ, ищите видео на YouTube, которые объясняют
                звуки, а также предоставляют примеры для прослушивания.
            </p>
            <p class="article__paragraph">Не практикуйте произношение пока вы не способны чётко слышать фонетику языка.
                Если вы это сделаете, вы можете развить плохой акцент, который в дальнейшем будет трудно исправить.
            </p>

            <h2>Письменность</h2>
            <p class="article__paragraph">Чтобы правильно учить слова, вам нужно уметь читать их на языке, к которому
                они принадлежат. Если ваш ИЯ использует фонетическую систему письма, тогда выучите символы и соедините
                их к звукам, с которыми вы познакомились в изучении фонетики.
            </p>
            <p class="article__paragraph">Китайский и японский языки имеют наборы символов (иероглифов), представляющие
                значение. Если вы изучаете один из этих языков, вам нужно будет начать изучать эти иероглифы.
            </p>
            <p class="article__paragraph">Для каждого языка есть разные инструменты для изучения системы письма.
                Присоединяйтесь к <a href="https://refold.la/join" class="article__link">сообществу Refold</a>, чтобы
                найти лучшие ресурсы для изучения вашего языка.
            </p>
            <p class="article__paragraph">Не пытайтесь в совершенстве овладеть системой письма через активное изучение.
                Просто изучите основы. Чтение - основная часть гайда Refold, поэтому у вас будет много возможностей
                освоить систему письма.
            </p>

            <h2>Словарный запас</h2>
            <p class="article__paragraph">Когда вы начинаете учить язык, вы не сможете понять ничего из погружения.
                Самый быстрый способ улучшить свое понимание - выучить 1000 наиболее распространённых слов. 1000
                наиболее распространённых слов покрывают 70-80% повседневной речи.
            </p>
            <p class="article__paragraph">Как только у вас появится основание и вы можете понимать что-то из погружения,
                вы начнёте учить слова прямиком из контента погружения, вместо списков слов. Этот метод очень
                эффективен, потому что он фокусируется на изучении слов, которые наиболее актуальны и полезны для вас.
            </p>
            <p class="article__paragraph">Существует много инструментов для изучения слов. Вы можете использовать
                бумажные флешкарты, но мв рекомендуем использовать систему интервальных повторений (SRS - spaced
                repetition system). SRS намного эффективнее обычных флешкарт, потому что она автоматически корректирует
                ваше изучение таким образом, чтобы вы сосредотачивались на изучении слов, с которыми у вас больше всего
                проблем.
            </p>
            <p class="article__paragraph">В следующей статье мы расскажем, что такое SRS, какую из них использовать, и
                как начать изучение наиболее распространённых слов вашего ИЯ.
            </p>

            <h2>Грамматика</h2>
            <h3>Нет вопроса "почему?"</h3>
            <p class="article__paragraph">Когда новички учат грамматику, они часто спрашивают: "Почему язык работат
                так?". Они ищут конкретное правило, которое объясняет как работает язык.
            </p>
            <p class="article__paragraph">К сожалению, на их вопросы часто нет ответа. Правда в том, что язык слишком
                беспорядочный и хаотичный, чтобы объясняться простым набором правил. Тут нет _почему_ бесмысленно
                спрашивать _почему_ язык является таким, какой он есть.
            </p>
            <p class="article__paragraph">Важно понимать, что "правила" грамматики, на самом деле и не правила. Они лишь
                являются ориентирами, показывая как обычно используется язык.
            </p>
            <p class="article__paragraph">Изучение грамматики не полезно для беглости в говорении, потому-что запомнить
                каждое правило и исключение - невозможно. Даже если бы вы смогли это сделать, у вас не было бы
                достаточно времени чтобы использовать эти знания в течение говорения.
            </p>
            <p class="article__paragraph">К счастью, наши мозги хороши в изучении грамматики интуитивно. Через
                погружение, вы получите интуитивное понимание языка так, что вы сможете говорить правильно, без
                необходимости думать о грамматике.
            </p>

            <h3>Фокусирование на понимании</h3>
            <p class="article__paragraph">Хотя изучение грамматики не является полезным для говорения, оно очень полезно
                для понимания. В то время как, изучение слов помогает вам понимать отдельные слова, изучение грамматики
                помогает понять полные предложения.
            </p>
            <p class="article__paragraph">Начните с чтения про базовую грамматику вашего ИЯ 10-15 минут в день. Когда вы
                видите новые грамматические структуры в вашем погружении, старайтесь разобраться как они работают.
            </p>
            <p class="article__paragraph">Большая часть изучения грамматики скорее всего не будет иметь смысла, пока вы
                не увидите много примеров в погружении. Если что-то не понятно, просто двигайтесь дальше. В конце концов
                вы выясните значение через погружение.
            </p>

        </div>
        <a href="/roadmap/stage-1/a/immersion" class="previous-article"><span>Назад</span></a>
        <a href="/roadmap/stage-1/a/vocabulary" class="next-article"><span>Вперёд</span></a>
    </div>

    {% endblock %}
</body>

</html>