<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Словарный запас</title>
    <link rel="stylesheet" href="{{css_dest}}">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>

<body>
    <!-- header -->
    {% extends "flask_extensions.html" %}
    <!-- header -->

    {% block content %}


    <div class="container">
        <div class="article">
            <h1 class="article__header">1A: Словарный запас</h1>
            <p class="article__paragraph">Приступая к овладению языком, ваша первая цель – создать основу для понимания.
                Вас нужно достаточно понимания чтобы начать учиться прямиком из вашего погружения. Как ранее
                упоминалось, наибыстрейший способ создать основу - запомнить наиболее распространённые слова.
            </p>


            <h2>Инструменты для обучения</h2>
            <p class="article__paragraph">Существует много разных инструментов и техник для запоминания информации. По
                нашему мнению, система интервальных повторений (SRS) является самым эффективным инструментом.
            </p>
            <p class="article__paragraph">SRS - это программа для флешкарт, которая отслеживает насколько хорошо вы
                знаете каждую флешкарту, и показывает вам те карты, которые вы можете забыть. Это означает, что вы
                можете хранить в голове огромное количество информации, и, при этом, минимизировать количество
                повторений.
            </p>
            <p class="article__paragraph">На данный момент, лучшей SRS является <a href="https://apps.ankiweb.net/"
                    class="article__link">Anki</a>. Anki имеет много фишек и дополнений, которые помогают в изучении
                языков. Он бесплатен для использования на компьютере, андроид устройстве и в интернете, но он стоит
                2290руб. на Ios.
            </p>
            <p class="article__paragraph">Разобраться в Anki немного сложно, поэтому лучше отвести некоторое время на
                установку и настройку. Вы можете найти полный гайд по установке Anki <a
                    href="/roadmap/stage-1/a/anki-setup" class="article__link">здесь</a>
            </p>

            <h2>Стратегия изучения</h2>
            <p class="article__paragraph">Изучая языки методом погружения, ваша цель - понимать; не говорить. Это
                означает, что вам нужно лишь построить пассивный словарный запас - слова, которые вы можете распознать и
                понять.
            </p>
            <p class="article__paragraph">Вам не нужно практиковаться вспоминать слова из памяти. К тому времени, когда
                вы достигните Этап 3, ваш мозг начнёт конвертировать ваш пассивные словарный запас в активный, и вы
                будете способны вспоминать слова без особого усердия.
            </p>

            <h2>Выбор списка слов</h2>
            <p class="article__paragraph">"Колоды" Anki - это готовые коллекции Anki флешкарт, которые вы можете скачать
                и учить. Сообщество Refold трудится, чтобы создать колоды Anki, идеально подходящие для новичков.
            </p>
            <p class="article__paragraph">Чтобы получить доступ к этим колодам, присоединитесь к бесплатному <a
                    href="https://refold.la/join" class="article__link">сообществу Refold в Discord</a> для вашего
                языка.
            </p>
            <p class="article__paragraph">Если там нет колоды Refold для вашего целевого языка (ЦЯ), вы можете либо
                использовать готовую колоду из другого источника, либо создать свою собственную колоду.
            </p>

            <h3>Выбор готовой колоды</h3>
            <p class="article__paragraph">В хорошей готовой колоде каждая карта будет иметь слово, пример предложения с
                ним и, в идеале, аудио для слова/предложения.
            </p>
            <p class="article__paragraph">Сообщество Refold создало списки лучших существующих колод для каждого языка.
                Присоединяйтесь к <a href="https://refold.la/join" class="article__link">сообществу</a>, чтобы получить
                доступ к ним.
            </p>

            <h3>Создание собственной колоды</h3>
            <p class="article__paragraph">Если вы не можете найти хорошую готовую колоду, которая соответствует
                вышеперечисленным критериям, вы можете создать свою колоду и поделиться ей с сообществом.
            </p>
            <p class="article__paragraph">Первый шаг создания колоды - выбор слов, которые вы хотите выучить. Лучший
                способ сделать это - использовать список частоупотребляемых слов. "Список частоупотребляемых слов" -
                список слов, отсортированный от наиболее распространённых слов к менее распространённым. Вы можете найти
                списки частоупотребляемых слов для любого языка в Google.
            </p>
            <p class="article__paragraph">При выборе списка частоупотребляемых слов, убедитесь, что это список коренных
                слов, а не спряжённых/однокоренных слов. Например, "ходить" и "хожу" следует рассматривать как одно и то
                же слово.
            </p>
            <p class="article__paragraph">
                Если ваш родной язык (РЯ) и ЦЯ родственные (как русский и украинский), тогда у них будет много общих
                слов. Эти общий слова называются "когнаты", и вам не нужно их учить.
            </p>
            <p class="article__paragraph">Как только у вас есть список слов, ваш потребуется собрать необходимую
                информацию для каждого слова и загрузить в Anki. Есть много типов карт, которые вы можете создать, но мы
                советуем сделать их как можно более простыми.
            </p>
            <p class="article__paragraph">Поместите слово на лицевой стороне карты.</p>
            <img class="article__image" src="{{vocabulary_card_front}}" alt="vocabulary-card-front">
            <p class="article__paragraph">На обратной стороне поместите пример употребления слова в предложении и
                определение слова.
            </p>
            <img class="article__image" src="{{vocabulary_card_back}}" alt="vocabulary-card-back">
            <p class="article__paragraph">Новички могут также поместить перевод предложения со словом на обратной
                стороне карты, чтобы им было легче его понять. Однако, по мере вашего роста, вы должны избегать
                использования переводов, потому что они почти всегда неточны.
            </p>
            <p class="article__paragraph">Также, стоит помнить, что вы только учитесь распозновать и понимать.
                Убедитесь, что на лицевой стороне карты всё написано только ЦЯ.
            </p>
            <h2>Лучшие практики SRS
            </h2>
            <p class="article__paragraph">Каждое новое слово, которое вы учите, встретится вам ещё несколько раз в
                процессе повторения. Одна из самых распространённых ошибок у новичков - изучение слишком большого
                количества карт за малые сроки. Слишком много карт приводит к большому количеству повторения, что часто
                ведёт к перегоранию.
            </p>
            <p class="article__paragraph">Сосредоточьтесь на постоянстве, а не на количестве. Мы советуем добавлять 10
                новых карт ежедневно. С 10 новыми картами в день, можно ожидать около 70 повторений в день. Требуется
                около двух недель, чтобы количество новых карт отразилось на счётчике повторений.
            </p>
            <p class="article__paragraph">Если вы чувствуете, что начитаете перегорать, тогда лучше перестать добавлять
                новые карты, пока количество повторений не упадёт до разумного. Не стесняйтесь опускать количество новых
                карт до 5 в день, или до того количества, с которым вы можете справиться.
            </p>

        </div>
        <a href="/roadmap/stage-1/a/language_basics" class="previous-article"><span>Назад</span></a>
        <!-- <a href="/roadmap/stage-2/a/#" class="next-article"><span>Вперёд</span></a> -->
    </div>

    {% endblock %}
</body>

</html>