<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Refold | Что это за сайт?</title>
        <link rel="stylesheet" href="{{css_dest}}">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <!-- header -->
        {% extends "flask_extensions.html" %}
        <!-- header -->

        {% block content %}

        <div class="container">
            <div class="website-info">
                <h2 class="website-info__header">Данный Сайт</h2>
                <p class="website-info__text">Данный сайт <span class="bold">не является официальным сайтом</span>, он был создан в ходе школьного проекта. Цель этого сайта - распространить эффективный метод изучения языков среди русскоговорящих.</p>
                <p class="website-info__text">Этот сайт был переведён с английского языка, чтобы сделать метод более доступным для русскоязычных пользователей. <br>
                <span class="italic bold">Почта для связи с переводчиком: {{ email }}</span>
                </p>
            </div>
            <div class="mission">
                <h2 class="website-info__header">Наша Цель</h2>
                <p class="website-info__text"><span class="italic">Разрушить языковой барьер</span><br>Наша цель - сделать достижение высокого уровня языка понятным, быстрым и весёлым процессом. Мы объясняем каждый шаг и предоставляем лучшие ресурсы со всего интернета, чтобы вам не нужно было этого делать.</p>
            </div>
            <div class="about">
                <h2 class="website-info__header">О нас</h2>
                <div class="people">
                    <div class="person">
                        <h3>Мэтт</h3>
                        <p class="people__info">Мэтт достиг беглости, подобной беглости носителя, в японском языке, использую метод AJATT в течение 5 лет. Теперь он ведёт других по своим стопам, при этом избегая своих собственных ошибок.
                        <div class="people__photo"><img src="../img/matt.jpg" alt="Matt's photo"></div>
                        </p>
                    </div>
                    <div class="person">
                        <h3>Итан</h3>
                        <p class="people__info">Итан - бывший программист, который покинул свою работу и переехал в Южную Америку, чтобы учить испанский. После месяцев страдания из-за традиционного обучения, ему это надоело. Он наткнулся на метод Мэтта в 2019 и никогда не смотрел назад</p>
                        <div class="people__photo"><img src="../img/ethan.png" alt="Ethan's photo"></div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
    </body>
</html>
