<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Refold</title>
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <header class="header">
            <nav class="header__nav">
                <a href="/index">На главную</a>
                <a href="/roadmap">Карта</a>
                <a href="/about">О проекте</a>
                <a target="_blank" href="https://refold.la/">Официальный сайт</a>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main">
        {% block content %}
        {% endblock %}
        <footer class="footer">
            <a target="_blank" href="https://refold.la/" class="footer__link">Не забудьте заглянуть на официальный сайт :)</a>
            <img class="footer__logo-l" src="{{crane_logo}}" alt="origami crane">
            <img class="footer__logo-r" src="{{crane_logo}}" alt="origami crane">
        </footer>
        </main>
    </body>
</html>
