<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Refold</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <header class="header">
            <nav class="header__nav">
                <a href="index.html">На главную</a>
                <a href="roadmap.html">Карта</a>
                <a href="about.html">О нас</a>
                <a href="contact.html">Контакты</a>
                <a target="_blank" href="https://refold.la/">Официальный сайт</a>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main">
        {% block content %}
        {% endblock %}
        </main>
    </body>
</html>
