<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Refold</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <!-- header -->
        <header class="header">
            <nav class="header__nav">
                <a href="index.html">На главную</a>
                <a href="roadmap.html">Карта</a>
                <a href="about.html">О проекте</a>
                <a target="_blank" href="https://refold.la/">Официальный сайт</a>
            </nav>
        </header>
        <!-- header -->

        <!-- particle animation -->
        <div class="background_animation">
            <div class="page-bg"></div>
            <div class="animation-wrapper">
            <div class="particle particle-1"></div>
            <div class="particle particle-2"></div>
            <div class="particle particle-4"></div>
            </div>
        </div>
        <!-- particle animation -->

        <div class="main-theme">
            <h1 class="big-heading"><span class="italic">Refold</span> <br> Гайд По Достижению <br> Беглости</h1>
        </div>

        <div class="container">
            <div class="introduction">
                <h2 class="introduction__header">Что такое Refold?</h2>
                <p class="introduction__text">Гайд Refold - это путеводитель по изучению языков с нуля. Мы объясняем как комбинировать медиа, стратегическое изучение и образовательные технологии для достижения высокого уровня языка быстрее, чем пользуясь каким-либо другим методом.</p>
                <h2 class="introduction__header">Почему я должен попробовать Refold?</h2>

                <div class="explanation">
                    <div class="explanation__item">
                        <h3 class="explanation__header">Достигните Беглости</h3>
                        <p class="explanation__text">Высоко-уровневая беглость в любом языке гарантируется.</p>
                    </div>
                    <div class="explanation__item">
                        <h3 class="explanation__header">Это Весело</h3>
                        <p class="explanation__text">Никаких скучных учебников и лекций.</p>
                    </div>
                    <div class="explanation__item">
                        <h3 class="explanation__header">Бесплатно Навсегда</h3>
                        <p class="explanation__text">Знание - бесплатно, а все инструменты - опциональны.</p>
                    </div>
                </div>
                
                <div class="advantages">
                    <h2 class="advantages__header">Подходит ли мне Refold?</h2>
                    <p class="advantages__text">Хотите ли вы достичь высокого уровня и беглости в языке? Тогда да! Refold вам подходит.</p>
                    <p class="advantages__text">Вы хотите довольствоваться базовыми диалогами на отпуске? Тогда нет, этот метод является излишеством.</p>
                    <p class="advantages__text">Мы не будем вам врать. Достичь <span class="italic">действительно</span> высокого уровня требует времени - обычно на это уходят года. Мы лишь делаем процесс понятным и весёлым, но посвящение  себя языку каждый день является вашей обязанностью.</p>
                    <p class="advantages__text">Готовы посвятить себя изучению языков?</p>
                    <a href="roadmap.html" class="advantages__link">Узнать больше</a>
                </div>
            </div>
        </div>
    <!-- footer -->
    <footer class="footer">
        <a target="_blank" href="https://refold.la/" class="footer__link">Не забудьте заглянуть на официальный сайт :)</a>
        <img class="footer__logo-l" src="./img/icons/symbol-contrast.svg" alt="origami crane">
        <img class="footer__logo-r" src="./img/icons/symbol-contrast.svg" alt="origami crane">
    </footer>
    <!-- footer -->
    </body>
</html>
