<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Карта Refold</title>
        <link rel="stylesheet" href="../css/roadmap.css">
        <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/origami_5679.png">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>

    <body>
        <!-- header -->
        {% extends "flask_extensions.html" %}
        <!-- header -->

        {% block content %}

        <div class="container">
            <div class="roadmap">
                <h1>Карта Refold</h1>
                <div class="roadmap__stage">
                    <div class="stage0">
                        <p class="roadmap__stage-text">Этап 0</p>
                        <h2 class="roadmap__stage-header">Философия Refold</h2>
                        <p class="roadmap__stage-info">Перед тем, как отправиться изучать язык, вам нужно подготовиться. Этот раздел покажет вам философию метода и инструменты, которыми вы будете пользоваться по мере изучения языка.</p>
                        <div class="stage-contents">
                            <div class="stage0-a">
                                <h3>A: Познакомьтесь с Методом</h3>
                                <div class="a1">
                                    <a href="/roadmap/stage-0/a/whats_immersion">Что такое изучение языка через погружение?</a>
                                </div>
                                <div class="a2">
                                    <a href="/roadmap/stage-0/a/activities_explained">Виды Деятельности</a>
                                </div>
                                <div class="a3">
                                    <a href="/roadmap/stage-0/a/whats_my_level">Каков мой уровень владения языком?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="roadmap__stage">
                    <div class="stage1">
                        <p class="roadmap__stage-text">Этап 1</p>
                        <h2 class="roadmap__stage-header">Изучите Основы</h2>
                        <p class="roadmap__stage-info">Подготовьтесь к первому рывку в изучении языка, с помощью навыков, инструментов и привычек. Изучите базовую грамматику и слова выбранного вами языка.</p>
                        <div class="stage-contents">
                            <div class="stage1-a">
                                <h3>A: Подготовка Инструментов и Привычек</h3>
                                <div class="a1">
                                    <a href="/roadmap/stage-1/a/immersion">Погружение</a>
                                </div>
                                <div class="a2">
                                    <a href="/roadmap/stage-1/a/language_basics">Основы Языка</a>
                                </div>
                                <div class="a3">
                                    <a href="/roadmap/stage-1/a/vocabulary">Словарный Запас</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="roadmap__stage">
                    <div class="stage2">
                        <p class="roadmap__stage-text">Этап 2</p>
                        <h2 class="roadmap__stage-header">Научитесь Понимать</h2>
                        <p class="roadmap__stage-info">Изучайте язык через погружение пока вы не достигли полного понимания.</p>
                        <div class="stage-contents"></div>
                        <p class="coming-soon">Идёт работа...</p>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}

    </body>
</html>
